.projectsHeader{
  text-align: center;
  font-family: 'Karla', sans-serif;
  list-style-type: none;

}

.projectsContainer{
  font-family: 'Karla', sans-serif;
  width: 70%;
  margin: 0 auto;
  list-style: none;

}

.listOfProjects{
  display: inline-block;
  /* text-align: left; */
  width: 100%;
  margin: 0 auto;
  list-style: none;

}

.ourListStyles{
  list-style: none;
}

.projectTitle{
  text-align: center; 
  font-weight: bold;

}

@media (max-width:600px) {
  body {
    font-size: 15px;
  }

}

@media (min-width:800px) {
  body {
    font-size: 30px;
  }
}
