.projectsHeader{
  text-align: center;
}

.projectsContainer{
  width: 50%;
  margin: 0 auto;
}

.listOfProjects{
  display: inline-block;
  /* text-align: left; */
  width: 100%;
  margin: 0 auto;

}

.projectTitle{
  text-align: center;
}

@media (max-width:600px) {
  body {
    font-size: 15px;
  }

}

@media (min-width:800px) {
  body {
    font-size: 30px;
  }
}
